name: Phase 1 - CI Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-pipeline:
    uses: nelsong6/infra-bootstrap/.github/workflows/container-app-build-template.yml@main
    with:
      node_version: '20'
    secrets: inherit
